<div class="container">
  <div class="side-menu">
    <img src="assets/icons/menu-icon.png" alt="" />
    <h3>Mercurio</h3>
  </div>
  <div class="salutation">Bom Dia, Vinicius ☀️</div>
  <div class="box-form">
    <div class="title-form">Cadastro De Pagamento</div>
    <div class="line"></div>
    <div class="form-group">
      <input class="input-payment" type="textContent" placeholder="Valor" />
      <input class="input-payment" type="textContent" placeholder="Recebedor" />
      <input
        class="input-payment"
        type="textContent"
        placeholder="Forma de Pagamento"
      />
      <input class="input-payment" type="textContent" placeholder="Data" />

      <app-button-primary class="btn-form-payment"></app-button-primary>
    </div>
  </div>
</div>
